/Debug/
/Release/
.cproject
.project
.settings
.mypy_cache
build/
*.egg-info
__pycache__
# Ignore swig built files
*.so
*PYTHON_wrap.c
vnr_internal_energy.py
# Ignore doxygen built files
doc/generated